<% row_count = 0 %>
<div class="container mb-3">
  <h1 class='text-center pt-4'>Lista de Usuários</h1>
</div>
<div class="container">
  <div class="row justify-content-center m-3 h-100 align-content-center">
    <% if @users.empty?%>
      <div class="col-12">
        <h2 class="text-center">No users found :(</h2>
      </div>
    <% else %>
      <div class="col-lg-8 d-flex justify-content-center py-3">
        <%= paginate @users, window: 4 %>
      </div>
      <div class="col-lg-8 d-flex py-3 pb-5 bg-primary rounded-top">
        <div class="col-2  ps-2"><strong class="text-white">ID</strong></div>
        <div class="col-10 ps-2"><strong class="text-white">Nome</strong></div>
      </div>
      <% @users.each do |user| %>
        <div class="col-lg-8 d-flex <%= alternate_color(row_count) %> py-3 border border-top-0 align-items-center">
          <div class="col-2 ps-2"><%=user.id%></div>
          <div class="col-8 ps-2"><%=user.name%></div>
          <div class="col-2 pe-2 text-end">
            <%= link_to user_path(user) do%>
              <i class="fa-solid fa-circle-info fs-4"></i>
            <% end %>
          </div>
        </div>
        <% row_count += 1 %>
      <% end %>
    <% end %>
  </div>
</div>
