<div class="container h-100">
  <div class="row  h-100 justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="text-center"> <%=@user.name%> </h2>
      </div>
      <div class="col-md-2 mb-3 d-flex justify-content-center">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: 'rounded-circle border w-100'%>
        <% else %>
          <%= image_tag 'anonymous-user.png', class: 'rounded-circle border w-100'%>
        <% end %>
      </div>
      <div class="col-md-6 m-2 d-flex justify-content-center flex-column">
        <div class="col-12">
          E-mail: <%=@user.email%>
        </div>
        <div class="col-12">
          Sexo: <%= @translated_gender %>
        </div>
      </div>
      <div class="col-md-7">
        <%= link_to '<< Voltar', :back %>
      </div>
    </div>
  </div>
</div>
